<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robot</title>
    <script src="/node_modules/mqtt/dist/mqtt.min.js"></script>
    <script src="/public/joy.js"></script>
    <script defer src="/public/index.js"></script>
    <style>
        #joy {
            margin: auto;
        }
        #joy > div > div {
            background-image: url('public/imgs/bg1.jpg');
            background-size: cover !important;
        }
        #robot_id {
            font-size: 36px;
            margin: auto;
            display: block;
        }
        .robot_id_box {
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div>
        <div id="joy"></div>
        <select id="select_bg">
            <option selected>bg1.jpg</option>
            <option>bg2.jpg</option>
            <option>bg3.jpg</option>
            <option>bg4.jpg</option>
            <option>bg5.jpg</option>
            <option>bg6.jpg</option>
            <option>bg7.jpg</option>
        </select>
    </div>
    <div class="robot_id_box">
        <input id="robot_id" placeholder="Robot ID">
    </div>
</body>
</html>